.box-outer{
    margin: auto;
    width: 35%;
    text-align: center;
}
.search-outer{
    display: flex;
    flex-direction: row;
    padding: 0px;
    padding-left:3px;
    padding-top: 2px;
    margin: 0px;
    border: 1px solid;
    border-radius: 10px;
}
.btnDiv{
    text-align: center;
}
.editBar{
    width: 80%;
    height: 2rem;
    margin-top: -2px;
    text-align: left;
    padding-left: 1rem;
    border-radius: 10px;
    border: 0px;
}
.editBar:focus{
    border: 0px;
}
input:focus {
    outline: none;
    background-color: white;
  }
.search-list{
    width: 100%;
    padding-left: 1rem;
    text-align: left;
    border-radius: 10px;
    border: grey 0.5px solid;
}
.search-item{
    margin: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0px;
}
.search-btn{
    padding: 0px;
    height: 2rem;
    border:0px;
    background:white;
}
:host ::ng-deep .highlight{
    background-color: #F2E366;
  }